*{
    background: linear-gradient(to bottom right, #B295E0, #F193D2, #FF99B3, #FFD270);
    background-attachment: fixed;
    color: white;
}

.login_center{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 10rem;
    font-size: 2rem;
    font-weight: 600;
}

.login_button button{
    align-items: center;
    border: 4px solid white; /* Green */
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    color: white;
    font-weight: 600;
    padding: 15px 30px;
    margin-top: 50px;
}
.login_center .first_row{
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .10em solid pink; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(40, end),
    blink-caret .65s step-end;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: transparent; }
}
.login_center .second_row{
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .10em solid pink; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(40, end),
    blink-caret .65s step-end;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: transparent; }
}
