*{
    background: linear-gradient(to bottom right, #B295E0, #F193D2, #FF99B3, #FFD270);
    background-attachment: fixed;
    color: white;
}

.login_center{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;

    margin-top: 10rem;
    font-size: 2rem;
    font-weight: 600;
}

.login_button button{
    opacity: 0;
    align-items: center;
    border: 4px solid white; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    color: white;
    font-weight: 600;
    padding: 15px 30px;
    margin-top: 50px;
    animation:
        fadeIn 1s;
    animation-delay:10s;
    animation-fill-mode: forwards;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes blinking {
    0% {border-color: transparent}
    50% {border-color: rgb(204, 201, 201)}
    100% {border-color: transparent}
}

.login_text{
    width: 50rem;
    display: inline-block;
}

.login_center .first_row{
    overflow: hidden;                  /* Ensures the content is not revealed until the animation */
    border-right: .10em solid pink;  /* The typwriter cursor */
    white-space: nowrap;               /* Keeps the content on a single line */
    margin: 0 auto;                    /* Gives that scrolling effect as the typing happens */
    animation:
        typing 2.5s steps(30, end) forwards,
        blinking 1s,
        fadeIn 2.5s;
    margin-bottom: 0rem;
}


.login_center .second_row{
    opacity: 0;
    overflow: hidden;
    border-right: .10em solid pink; 
    white-space: nowrap; 
    margin: 0 auto; 
    animation:
        typing 2.5s steps(30, end),
        blinking 1s,
        fadeIn 2.5s;
    animation-delay:2.5s;
    animation-fill-mode: forwards;
    margin-bottom: 3rem;
}

.login_center .third_row{
    opacity: 0;
    overflow: hidden; 
    border-right: .10em solid pink; 
    white-space: nowrap; 
    margin: 0 auto; 
    animation:
        typing 2.5s steps(30, end),
        blinking 1s,
        fadeIn 2.5s;
    animation-delay:5s;
    animation-fill-mode: forwards;
}

.login_center .fourth_row{
    opacity: 0;
    overflow: hidden;
    border-right: .10em solid pink; 
    white-space: nowrap; 
    margin: 0 auto;
    animation:
        typing 2.5s steps(30, end),
        blinking 1s,
        fadeIn 2.5s;
    animation-fill-mode: forwards;
    animation-delay:7.5s;
}
